@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 20px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", "sans-serif";
$en-title: "Lato", "sans-serif";
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$white: #fff;
$bg: linear-gradient(135deg, #e0f7ff 0%, #add8e6 50%, #87cefa 100%);
$text-green: #a8d5ba;
$title: linear-gradient(90deg, #add8e6 0%, /* ライトブルー（親しみ） */ #87cefa 50%, /* SkyBlue（やや鮮やか） */ #b0e0e6 100% /* PowderBlue（柔らかさ） */);
// $title:#87CEEB;
$accent: #ff8c42;
$header-nav: #333;
