@use "global" as *;

.mv {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: rem(400);
}

.mv__inner {
  height: inherit;
  min-height: inherit;
}

.mv__title-wrap {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  text-align: center;
}

.mv__main-title {
  font-family: $second-font-family;
  font-size: rem(40);
  @include mq(md) {
    font-size: rem(60);
  }
}

.mv__sub-title {
  margin-top: rem(20);
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(35);
  }
}

.mv__swiper,
.mv__swiper .swiper-img,
.mv__swiper .swiper-img img {
  height: inherit;
  min-height: inherit;
}

.mv__swiper .swiper-img img {
  width: 100%;
  object-fit: cover;
}
