@use "global" as *;

.section-title {
  text-align: center;
  font-size: rem(20);
  color: $white;
  background: $title;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* 可読性を高める影 */
  font-weight: $bold;
  @include mq(md) {
    font-size: rem(40);
  }
}
